.eis-filter-bar {
  width: 100%;
}

.eis-filter-bar__top {
  display: flex;
  align-items: center;
  width: 100%;
}

.eis-filter-bar__top :deep(.ant-input) {
  background-color: #f9fafb !important;
}

.eis-filter-bar__top :deep(.ant-input:hover) {
  background-color: #f9fafb !important;
}

.eis-filter-bar__top :deep(.ant-input:focus) {
  background-color: #f9fafb !important;
}

.eis-filter-bar__bottom {
  padding-top: 16px;
  border-top: 1px solid #e5e7eb;
  margin-top: 16px;
}

.custom-radio-group {
    background-color: #f5f7fa;
    border-radius: 8px;
    padding: 3px;
    display: inline-flex;
    align-items: center;
}

.custom-radio-group :deep(.ant-radio-button-wrapper) {
    border: none;
    background: transparent;
    border-radius: 6px;
    height: 26px;
    line-height: 26px;
    padding: 0 16px;
    font-size: 12px;
    color: #6a7381;
    font-weight: 500;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.custom-radio-group :deep(.ant-radio-button-wrapper:not(:first-child)::before) {
    display: none;
}

.custom-radio-group :deep(.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)) {
    background: #fff;
    color: #1677ff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.custom-radio-group :deep(.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover) {
    color: #4096ff;
}
