.back-btn {
  margin-right: 4px;
  color: rgba(0, 0, 0, 0.65);
}

.back-btn:hover {
  color: #1677ff;
}

.header-page-title {
  margin: 0 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: rgba(0, 0, 0, 0.88) !important;
  margin-right: 4px !important;
}
